{% extends 'base.html' %}

{% block title -%}Register - {% endblock -%}

{% block container -%}
    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        <div class="links">
            <a class = "navButtons" href = "{{url_for('main.index')}}"> Return </a>
        </div>
    </div>

    <div id = "main">
        <div id = "mainText" style = "margin-bottom : 4%">

            <h3><em>"Become a part of our community today."</em></h3>
            <!-- TODO Check input validity, email check and add some check before message sending and other default things destined for forms-->
            <form class="login" action="" method="POST">
                {{ form.hidden_tag() }}
                {{ form.name.label() -}}{{- form.name() }}
                {{ form.username.label() -}}{{- form.username() }}
                {{ form.password.label() -}}{{- form.password() }}
                {{ form.password1.label() -}}{{- form.password1() }}
                {{ form.submit() }} 
            </form>
            <p>Do you have an account?  &nbsp;&nbsp;
                <a class = "navButtons" href = "{{url_for('auth.login')}}" style = "text-decoration: underline;">Login</a>
            </p>
        </div>
    </div>

    <div id="footer"> <!-- !TODO will be imported using python instead of writting it-->
        <a class = "footerButtons" href = "{{url_for('main.contact')}}"> Contact Us </a>
        <a class = "footerButtons" href = "{{url_for('main.help')}}"> Help </a>
        <a class = "footerButtons" href = "{{url_for('main.about')}}"> About Us </a>
    </div>
{% endblock -%}
