.create-cardset {
  width: 860px;
  height: 569px;
  &__title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 115px;
  }
  &__field {
    width: 326px;
    display: block;
    margin: 30px auto;
  }
  input[type="submit"] {
    border: none;
    margin-top: 30px;
  }
  @media screen and (max-width: 900px) {
    width: 80%;
  }
  @media screen and (max-width:500px) {
    .choice, &__field {
      width: 80%;
      font-size: 12px;
    }
    &__title {
      font-size: 24px;
    }
  }
}
