.mode-choice {
  width: 1150px;
  height: 700px;

  &__title {
    font-weight: 600;
    font-size: 26px;
    margin-top: 20px;
  }
  .choice {
    margin: 15px auto;
  }
  .button {
    margin-top: 45px;
  }
  @media screen and (max-width: 1200px) {
    width: 90%;
  }
  @media screen and (max-width:500px) {
    .choice {
      width: 80%;
      font-size: 11px;
    }
    &__title {
      font-size: 24px;
    }
  }
}

.cardsets {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
  &__cardset {
    border-radius: 20px;
    min-width: 180px;
    height: 117px;
    text-transform: none;
    box-shadow: $box-shadow;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 5px 7px;
    margin: 35px 17px;
    cursor: pointer;
  }
  &__cardset:hover {
    box-shadow: $box-shadow-hover;
  }
  &__cardset:active {
    box-shadow: $box-shadow-delete;
  }
  &__add-cardset {
    width: 179px;
    height: 117px;
    margin: 35px 17px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  &__add-cardset:hover {
    transform: scale(1.1);
  }
}
