.profile-modal {
    position: absolute;
    width: 128px;
    height: 148px;
    top: 50px;
    right: 0;
    background: #FFFFFF;
    box-shadow: $box-shadow;
    border-radius: 20px;
    font-weight: 400;
    font-size: 12px;
    font-family: $font-text;
    padding: 20px 10px;
    z-index: 9999;
    text-align: left;
    &__element {
        margin-bottom:7px ;
        cursor: pointer;
        span {
            margin-left: 5px;
            &:hover {
                color: $main-color;
            }
        }
        img {
            height: 12px;
            width: 15px;
        }
    }
    &__line {
        border-bottom: 1px solid #A7A7A7;
        margin: 8px 0;
    }
}
