.unauthorized-modal {
  &__close {
    top: 16px;
    right: 16px;
    img {
      width: 20px;
    }
  }
  &__line {
    margin-top: 50px;
  }
  width: 500px;
  &__title {
    margin-top: 20px;
    text-transform: none;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
    button {
      background: $main-color;
      border-radius: 10px;
      padding: 8px 0;
      &:hover {
        box-shadow: $box-shadow-hover;
        cursor: pointer;
      }
      &:active {
        box-shadow: none;
      }
    }
  }
  @media screen and (max-width: 550px) {
    width: 80%;
    .button {
      width: 100px;
      font-size: 14px;
    }
    &__title {
      font-size: 14px;
    }
  }
}
