{% extends 'base.html' %}

{% from 'macro.html' import create_form %}

{% block title -%}Login - {% endblock -%}

{% block rechts %}
{% endblock %}

{% block links %}
    <a href = "{{url_for('main.index')}}"> Main Page </a>
{% endblock %}


{% block main %}
    <div id = "mainText"  style = "margin-bottom : 3%">
        <h1>
            Login
        </h1>

        {% for cat, msg in get_flashed_messages(True) -%}
            <em class="{{cat}}-msg">{{msg}}</em>
        {% else -%}
            <em>"Welcome back! Let's get started."</em>
        {% endfor -%}
        
        {{ create_form(form, 'login') }}
        
        <p>Don't you have an account?  &nbsp;&nbsp;
            <a class = "navButtons" href = "{{url_for('users.register')}}" style = "text-decoration: underline;">Register</a>
        </p>
    </div>
{% endblock %}

