{% extends 'base.html' %}

{% block css -%}<link href="{{ url_for('static', filename='css/users.css') }}" rel="stylesheet" type="text/css">{% endblock %}

{% block title %}Home - {% endblock %}

{% block header -%}
    {{ super() }}
    <div id = "return" onclick="{history.back()}"><img src="{{url_for('static', filename='images/return.png')}}" alt="Return Back"></div>
{% endblock -%}

{% block main %}
    <div id="flash-message"></div>
    <div id = "flash-profile">
        <h1>
            Your Profile:
        </h1>
        <div class = "profile-value"><strong>Name:</strong>&emsp;<span>{{current_user.name}}</span></div>
        <div class = "profile-value"><strong>Username:</strong>&emsp;<span>{{current_user.username}}</span></div>
        <div class = "profile-value"><strong>Total Sets:</strong>&emsp;<span>{{current_user.own_cardsets.count()}}</span></div>
        <div class = "profile-value"><strong>Sets saved:</strong>&emsp;<span>{{current_user.own_cardsets.count()}}</span></div>
        <div class = "profile-value"><strong>Sets learned:</strong>&emsp;<span>{{current_user.own_cardsets.count()}}</span></div>
        <div class = "profile-value"><strong>Flash-cards:</strong>&emsp;<span>{{current_user.flashcards_number}}</span></div>
        <div id = "learn">Learn</div>
        <div id = "achievements">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" title="OUR MEMBER!">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle" viewBox="0 0 16 16" title = "ONE SET LEARNED!">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-5-circle" viewBox="0 0 16 16" title = "FIVE SETs LEARNED!">
                <path d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm15 0A8 8 0 1 0 0 8a8 8 0 0 0 16 0Zm-8.006 4.158c-1.57 0-2.654-.902-2.719-2.115h1.237c.14.72.832 1.031 1.529 1.031.791 0 1.57-.597 1.57-1.681 0-.967-.732-1.57-1.582-1.57-.767 0-1.242.45-1.435.808H5.445L5.791 4h4.705v1.103H6.875l-.193 2.343h.064c.17-.258.715-.68 1.611-.68 1.383 0 2.561.944 2.561 2.585 0 1.687-1.184 2.806-2.924 2.806Z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16" title = "SAVIOUR!">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-heart-fill" viewBox="0 0 16 16" title = "MASTER SAVIOUR!">
                <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM8.5 4h6l.5.667V5H1v-.333L1.5 4h6V1h1v3ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-heart-fill" viewBox="0 0 16 16" title = "I GOT YOUR MESSAGE!">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555l-4.2 2.568a2.785 2.785 0 0 0-.051-.105c-.666-1.3-2.363-1.917-3.699-1.25-1.336-.667-3.033-.05-3.699 1.25l-.05.105L.05 3.555ZM11.584 8.91a4.694 4.694 0 0 1-.073.139L16 11.8V4.697l-4.003 2.447c.027.562-.107 1.163-.413 1.767Zm-4.135 3.05c-1.048-.693-1.84-1.39-2.398-2.082L.19 12.856A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144L10.95 9.878c-.559.692-1.35 1.389-2.398 2.081L8 12.324l-.551-.365ZM4.416 8.91c-.306-.603-.44-1.204-.413-1.766L0 4.697v7.104l4.49-2.752a4.742 4.742 0 0 1-.074-.138Z"/>
                <path d="M8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16" title = "OUR DIAMOND!">
                <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-yin-yang" viewBox="0 0 16 16" title = "SHARING YOUR KNOWLEDGE!">
                <path d="M9.167 4.5a1.167 1.167 0 1 1-2.334 0 1.167 1.167 0 0 1 2.334 0Z"/>
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1 8a7 7 0 0 1 7-7 3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 0 1-7-7Zm7 4.667a1.167 1.167 0 1 1 0-2.334 1.167 1.167 0 0 1 0 2.334Z"/>
            </svg>
        </div>
    </div>
    <div id = "flashcard-set-profile">

        <h1>Your own sets:</h1>
        <div class = "flash-list">
            {% for card_set in current_user.own_cardsets -%}
            <a href="{{ url_for('cards.cardset', id=card_set.id) }}">
                <div id="cardset-{{card_set.id}}" class = "set">
                    <div class = "flashcard-unit-text">{{card_set.title}}</div>
                    <div class = "flashcard-unit-image" onclick = "deleteCardSet('{{card_set.id}}')"><img src="{{ url_for('static', filename='images/remove.png') }}" alt="Delete"></div>
                </div>
            </a>
            {% endfor -%}
        </div>

        <h1>Your saved sets:</h1>
        <div class = "flash-list">
            {% for card_set in current_user.saved_cardsets -%}
            <a href="{{ url_for('cards.cardset', id=card_set.id) }}">
                <div id="cardset-{{card_set.id}}" class = "set">
                    <div class = "flashcard-unit-text">{{card_set.title}}</div>
                    <div class = "flashcard-unit-image" onclick = "deleteCardSet('{{card_set.id}}')"><img src="{{ url_for('static', filename='images/remove.png') }}" alt="Delete"></div>
                </div>
            </a> 
            {% endfor -%}
        </div>
    </div>    
{% endblock %}
