{% extends 'base.html' %}

{% block title %}Home - {% endblock %}

{% block container -%}

    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        <div class="rechts">
            <a href = "#"> Add new set </a>
        </div>
        <div class="links">
            <a href = "{{url_for('main.home')}}"> Home </a>
        </div>
    </div>

    <div id = "main">
        <div id = "flash-profile">
            <h1>
                Your Profile:
            </h1>
            <div class = "profile-value"><strong>Name:</strong> <div class = "value">{{current_user.name}}</div></div>
            <div class = "profile-value"><strong>Username:</strong>  <div class = "value">{{current_user.username}}</div></div>
            <div class = "profile-value"><strong>Sets:</strong> <div class = "value"> ### </div></div>
            <div class = "profile-value"><strong>Flash-cards:</strong><div class = "value">{{user_cards_len}}</div></div>
            <a href = "{{url_for('users.logout')}}">
                <button class="guest" role="button">Logout</button>
            </a>
        </div>
        <div id = "flashcard-set-profile">

            <h1>Your own sets:</h1>
            <div class = "flash-list">
                {% for own_card_set in current_user.own_card_sets -%}
                <div class = "flashcard-unit"><div class = "flashcard-unit-text">{{own_card_set.title}}</div><div class = "flashcard-unit-image" onclick = "deleteConf()"><img src="{{ url_for('static', filename='images/remove.png') }}" alt="Delete"></div></div>
                {% endfor -%}
            </div>

            <h1>Your saved sets:</h1>
            <div class = "flash-list">
                {% for saved_card_set in current_user.saved_card_sets -%}
                <div class = "flashcard-unit"><div class = "flashcard-unit-text">{{saved_card_set.title}}</div><div class = "flashcard-unit-image" onclick = "deleteConf()"><img src="{{ url_for('static', filename='images/remove.png') }}" alt="Delete"></div></div>
                {% endfor -%}
            </div>
        </div>
        
    </div>

    <div id="footer">
        <a class = "footerButtons" href = "{{url_for('common.contact')}}"> Contact Us </a>
        <a class = "footerButtons" href = "{{url_for('common.help')}}"> Help </a>
        <a class = "footerButtons" href = "{{url_for('common.about')}}"> About Us </a>
        <a id = "deleteProfile" href = "#"> Delete Profile </a>
    </div>
    
{% endblock -%}
