{% extends 'base.html' %}

{% block head -%}
    {{super()}}
    <link href="{{ url_for('static', filename='css/users.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Home - {% endblock %}

{% block header -%}
    {{ super() }}
    {% include "snippets/return.html" %}
{% endblock -%}

{% block main %}
    <div id="flash-message"></div>
    <div id = "flash-profile">
        <h1>
            Your Profile:
        </h1>
        <div class = "profile-value"><strong>Name:</strong>{{current_user.name}}</div>
        <div class = "profile-value"><strong>Username:</strong>{{current_user.username}}</div>
        <div class = "profile-value"><strong>Sets:</strong> {{current_user.own_cardsets.count()}}</div>
        <div class = "profile-value"><strong>Flash-cards:</strong>{{current_user.flashcards_number}}</div>

    </div>
    <div id = "flashcard-set-profile">

        <h1>Your own sets:</h1>
        <div class = "flash-list">
            {% for card_set in current_user.own_cardsets -%}
            <div id="cardset-{{card_set.id}}" class = "set">
                <div class = "flashcard-unit-text">{{card_set.title}}</div>
                <div class = "flashcard-unit-image" onclick = "deleteCardSet('{{card_set.id}}')"><img src="{{ url_for('static', filename='images/remove.png') }}" alt="Delete"></div>
            </div>
            {% endfor -%}
        </div>

        <h1>Your saved sets:</h1>
        <div class = "flash-list">
            {% for card_set in current_user.saved_cardsets -%}
            <div id="cardset-{{card_set.id}}" class = "set">
                <div class = "flashcard-unit-text">{{card_set.title}}</div>
                <div class = "flashcard-unit-image" onclick = "deleteCardSet('{{card_set.id}}')"><img src="{{ url_for('static', filename='images/remove.png') }}" alt="Delete"></div>
            </div>
            {% endfor -%}
        </div>
    </div>    
{% endblock %}
