{% extends 'base.html' %}

{% block head -%}
    {{super()}}
    <link href="{{ url_for('static', filename='css/users.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% from 'macro.html' import create_form %}

{% block title -%}Register - {% endblock -%}

{% block main %}
    <div id = "mainText" style = "margin-bottom : 4%">

        <h3><em>"Become a part of our community today."</em></h3>

        {{ create_form(form, 'login')}}
        
        <p>Do you have an account?  &nbsp;&nbsp;
            <a class = "navButtons" href = "{{url_for('users.login')}}" style = "text-decoration: underline;">Login</a>
        </p>
    </div>
{% endblock %}



