{% extends 'base.html' %}

{% block title -%}Cardset - {% endblock -%}
{% block css -%}<link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet" type="text/css">{% endblock %}


{% block header -%}
    {{super()}}
    <a id = "return" onclick="history.back()"><img src="../static/images/return.png" alt="Return Back"> </a>
    {%  include "snippets/constructor.html" %}
{% endblock -%}

{% block main %}
    <h1 data-is_public="{{cardset.is_public | int}}" data-id="{{cardset.id}}" style="font-size: 5vh;">{{cardset.title}}</h1>
    <div id = "flashcards">
        {% for flashcard in cardset.flash_cards.all() -%}
            <div class = "flashcard">
                <div class="flash-screen">
                    <div class="flash-card-front">
                        {% set images = flashcard.attachments.frontside.images %}
                        {% if images | length == 1 %}
                            {% set img_class = "flash-card-image-single" %}
                        {% else -%}
                            {% set img_class = "flash-card-image-multiple" %}
                        {% endif -%}
                            
                        {% for image in images -%} 
                            <img src = "../../uploads/{{image}}" class = "{{ img_class }}">
                        {% endfor -%}

                        {% if images | length == 0 %}
                            {{flashcard.title}}
                        {% elif flashcard.title -%}
                            <div class = "not-only-text">{{flashcard.title}}</div>
                        {% endif -%}
                    </div>
                    <div class="flash-card-back">
                        {% set images = flashcard.attachments.backside.images %}
                        {% if images | length == 1 %}
                            {% set img_class = "flash-card-image-single" %}
                        {% else -%}
                            {% set img_class = "flash-card-image-multiple" %}
                        {% endif -%}
                            
                        {% for image in images -%} 
                            <img src = "../../uploads/{{image}}" class = "{{ img_class }}">
                        {% endfor -%}

                        {% if images | length == 0 %}
                            {{flashcard.content}}
                        {% elif flashcard.content -%}
                            <div class = "not-only-text">{{flashcard.content}}</div>
                        {% endif -%}
                        
                    </div>
                </div>
            </div>
            
        {% endfor -%}

        {% if not cardset.flash_cards.count() %}
            <div style = "position: absolute; top:40%; color: #929292; left: 20%;">
                <h1>Create some cards for this set to be able to learn it.</h1>
            </div>
        {% endif %}

    </div>
    <div id = "cardset-buttons">
        {% if cardset.flash_cards.count() %}
        <a href="{{url_for('cards.learn', id=cardset.id)}}" class="cardset-button">Learn</a>
        {% endif %}
        {% if current_user.id == cardset.user_id -%}
            <a href="#" id="create-flashcard" class="cardset-button">Add card</a>
            <a href="#" class="cardset-button" style="color:#ff0000cc">Delete</a>
        {% endif -%}
    </div>
    {% if current_user.is_authenticated and current_user.id != cardset.user_id  -%}
    <div id = "save-div"  onclick="saveCardSet('{{cardset.id}}')">
        {% if cardset in current_user.saved_cardsets.all() -%}
            <img id="save-cardset-{{cardset.id}}" src="{{url_for('static', filename='images/save1.png')}}" alt="Save">
        {% else -%}
            <img id="save-cardset-{{cardset.id}}" src="{{url_for('static', filename='images/save2.png')}}" alt="Save">
        {% endif -%}
    </div>
    {% endif -%}
{% endblock %}