{% extends 'base.html' %}

{% block title -%}Cardset - {% endblock -%}

{% block header -%}
    {{super()}}
    <a id = "return" onclick="history.back()"><img src="../static/images/return.png" alt="Return Back"> </a>
    {%  include "snippets/constructor.html" %}
{% endblock -%}

{% block main %}
    <h1>{{cardset.title}}</h1>
    <div id = "card_set-buttons">
        <a href="#" id="create-flashcard">Add new</a>

        <a href="#">Learn</a>
    </div>
    <div id = "flashcards">
        {% for flashcard in cardset.flashcards -%}

        {% endfor -%}
    </div>
{% endblock %}