{% extends 'base.html' %}

{% block title -%}Cardset - {% endblock -%}
{% block css -%}<link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet" type="text/css">{% endblock %}


{% block header -%}
    {{super()}}
    <a id = "return" onclick="history.back()"><img src="../static/images/return.png" alt="Return Back"> </a>
    {% include "snippets/learn_modal.html" %}

{% endblock -%}

{% block main %}
    <h1 style="font-size: 5vh; margin-bottom: 5%;">Choose your settings:</h1>

    <div id = "more-sets">
        {% set all_cardsets = current_user.own_cardsets.union(current_user.saved_cardsets).all() %}
        {% if cardset and cardset not in all_cardsets %}
            {% set all_cardsets = [cardset] + all_cardsets %}
        {% endif -%}
        {% for card_set in all_cardsets -%}
            {% if cardset and card_set.id == cardset.id%}
                {% set class = "set selected-set" %}
            {% else -%}
                {% set class = "set" %}
            {% endif %}
            <div id="cardset-{{card_set.id}}" class = "{{class}}">
                <div class = "add_set_text">{{card_set.title}}</div>
            </div>
        {% endfor -%}
    </div>

    <div id = "mode-choice">
        <input type="radio" name="mode" value = "1" id="title">
        <input type="radio" name="mode" value = "0" id="content" checked>

        <label for="title" class="option title">
            <div class="dot"></div>
            <span>Guess by title</span>
        </label>

        <label for="content" class="option content">
            <div class="dot"></div>
            <span>Guess by content</span>
        </label>
    </div>

    <div id = "start_learning"> 
        Start
    </div>

{% endblock %}