body {
  background: url(../img/main-bg.png) no-repeat center center/cover;
}

$fontHeader : "Montserrat", sans-serif;
$fontText : "Open Sans", sans-serif;
$boxShadow :  3px 3px 14px rgba(157, 157, 157, 0.54);

.nav {
  font-family: $fontHeader;
  padding: 15px 0;
  a {
    color: #000;
    text-decoration: none;
  }
  &__logo {
    font-weight: 700;
    font-size: 18px;
  }
  &__links {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    margin: 0 auto;
    font-weight: 600;
  }
  &__link {
    font-size: 16px;
  }
  &__auth {
    text-align: right;
    font-weight: 600;
  }
  &__line {
    border-bottom: 1.5px solid #000;
    margin-top: 15px;
  }

  &__btn {
    background: #13cca3;
    box-shadow: $boxShadow;
    border-radius: 10px;
    padding: 8px 30px;
    margin-left: 20px;
  }
}

.header {
  margin-top: 10px;

  &__title {
    font-family: $fontHeader;
    font-weight: 700;
    line-height: 90px;
    font-size: 80px;
    text-transform: capitalize;
    margin-top: 35px;
  }
  &__description {
    margin-top: 50px;
    font-family: $fontText;
    font-weight: 400;
    font-size: 15px;
  }
  &__image {
    img {
      width: 100%;
      height: 100%;
    }
    width: 100%;
    height: 100%;
  }

  @media screen and (min-height: 700px) {
    margin-top: 70px;
    &__title {
      font-size: 90px;
    }
    &__description {
      font-size: 17px;
    }
  }
}

.main {
  //TODO Add breakpoints
  &__search {
    width: 100%;
    background-color: #fff;
    margin-top: 160px;
    border-radius: 20px;
    box-shadow: $boxShadow;
    padding: 15px 70px 15px 70px;
    span {
      font-family: $fontHeader;
      font-weight: 700;
      font-size: 18px;
      margin-top: 6px;
      display:inline-block;
    }
    input {
      border: 2px solid #BBC8D4;
      border-radius: 20px;
      line-height: 28px;
      font-size: 16px;
      font-family: $fontText;
      height: 40px;
      padding: 15px;
      width: 100%;
      
    }
    @media screen and (max-width: 1600px) and (min-width: 1000px) {
      span {
        font-size: 16px;
      }
    }
  }

  &__cardsets {
    margin-top: 56px;
    .card-set {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: $boxShadow;
      width:268px;
      height: 116px;
      margin: 10px;
    }
  }
}

// Color for placeholders
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BBC8D4;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BBC8D4;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #BBC8D4;
}