.nav {
  font-family: "Montserrat", sans-serif;
  padding: 18px;
  a {
    color: #000;
    text-decoration: none;
  }
  &__logo {
    font-weight: 700;
    font-size: 18px;
  }
  &__links {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    margin: 0 auto;
    font-weight: 600;
  }
  &__link {
    font-size: 16px;
  }
  &__auth {
    text-align: right;
    font-weight: 600;
  }
  &__line {
    border-bottom: 1.5px solid #000;
    margin-top: 18px;
  }
}
