$font-header: "Montserrat", sans-serif;
$font-text: "Open Sans", sans-serif;
$box-shadow: 3px 3px 14px rgba(157, 157, 157, 0.54);
$background-gradient: linear-gradient(107.87deg, #1cadff 0.94%, #dbff00 98%);