$font-header: "Montserrat", sans-serif;
$font-text: "Open Sans", sans-serif;
$box-shadow: 3px 3px 14px rgba(157, 157, 157, 0.54);
$main-color: #EB996E;
$background-color: #FFF1E9;
$box-shadow-hover: 3px 3px 14px #EB996E8f;
$main-gradient: linear-gradient(107.87deg, #FFBE9D 0.94%, #f9e1d5 67.84%, #FFC7A9 98%);