{% extends 'base.html' %}

{% block title -%}Contact Us - {% endblock -%}

{% block container %}
    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        <div class="links">
            <a class = "navButtons" href = "{{url_for('main.index')}}"> Return </a>
        </div>
    </div>

    <div id = "main">
        <div id = "mainText">
            <h1>
                Contact Us
            </h1>
            <p>Thank you for visiting our website. 
                If you have any questions, comments, or feedback, we would love to hear from you. 
                You can reach us by filling out the contact form on this page. 
                Our team will make every effort to respond to your inquiry as soon as possible. 
                We value your business and appreciate the opportunity to serve you.
            </p>
            
        </div>

    </div>
    {% for cat, msg in get_flashed_messages(True) -%}
    <div class="flash-{{cat}}">{{msg}}</div>
    {% endfor -%}

    <!-- TODO Check input validity, email check and add some check before message sending and other default things destined for forms-->
    <form class="contact-us " action="{{url_for('main.contact')}}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label() -}}{{- form.name() }}
        {{ form.email.label() -}}{{- form.email() }}
        {{ form.title.label() -}}{{- form.title() }}
        {{ form.message.label() -}}{{- form.message() }}
        {{ form.submit() }} 
        <!-- <label for="name">
        <span>Enter Name:</span><input type="text" name="name" required="true" />
        </label>
        <label for="email">
        <span>Email Address:</span><input type="email" name="email" required="true" />
        </label>
        <label for="title">
        <span>Short Subject:</span><input type="text" name="title" required="true" />
        </label>
        <label for="message">
        <span>Message to Us:</span><input type = "text" name="message" required="true"></input>
        </label>
        <label>
        <input type="submit" value="Send to Us" />
        </label> -->
    </form>
{% endblock -%}
