{% extends 'base.html' %}

{% block css -%}<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">{% endblock %}

{% block title %}Home - {% endblock %}

{% block header %}
    {{ super() }}
    <form id="searchBox">
        <input id="searchInput" type="text" name="q" placeholder="Search.." autocomplete="off">
        <button id="searchButton" href="#">
            <img src="{{ url_for('static', filename='images/search.png') }}" alt="S">
        </button>
    </form>
    <!-- <nav id="sort">
        <a href="#link">Most popular</a>
        <a href="#link">New to old</a>
        <a href="#link">Old to new</a>
        <a href="#link">Randomize</a>
    </nav> -->
{% endblock %}

{% block main %}
    <div id = "dash">
        {% if search_query -%}
        <h3 style="text-align: left; font-size: 3vh;">Search results for "{{ search_query }}"</h3>
        {% else -%}
        <h3 style="text-align: left; font-size: 3vh;">Popular sets:</h3>
        {% endif -%}
        <div id = dash-list>
            <div id="sentinel">
                <img id="loading-gif" src="{{url_for('static', filename='images/loading.gif')}}" width="70vh">
            </div>
        </div>
    </div>
    <div id = "aside">
        <h3>Categories:</h3>
        <div id = "aside-list">
            <div data-id="0" class = "category">All categories</div>
            {% for category in categories -%}
                <div data-id="{{category.id}}" class = "category">{{category.title}}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
