{% extends 'base.html' %}

{% block title %}Home - {% endblock %}

{% block rechts %}
{{ super() }}
    <form id="searchBox" action = "" method = "GET">
        <input id="searchInput" type="text" name="q" placeholder="Search.." autocomplete="off" onfocusout = "useValue()" required>
        <button id="searchButton" href="#">
            <img src="{{ url_for('static', filename='images/search.png') }}" alt="S">
        </button>
    </form>
{% endblock %}

{% block main %}
    {% if search_query -%}
    <h3 style="text-align: left; font-size: 3vh;">Search results for "{{ search_query }}"</h3>
    {% else -%}
    <h3 style="text-align: left; font-size: 3vh;">Popular sets:</h3>
    {% endif -%}

    <div id = "dash">
        {% for card_set in card_sets -%}
        <div class="set">
            <div class = "set-screen">
                {{ card_set.set.title }}
            </div>
            <div class = "set-modulate">
                <span>{{ card_set.total_saves }}</span>
                <img class = "image-save" src="{{ url_for('static', filename='images/save.png') }}" alt="Save">
            </div>
        </div>
        {% endfor -%}
    </div>
    <div id = "aside">
        <h3 style = "text-align: left;">Categories:</h3>
        {% for category in categories -%}
        <a href="#"><div class = "category">{{category.title}}</div></a>
        {% endfor %}
    </div>
{% endblock %}
