{% extends 'base.html' %}

{% block title %}Home - {% endblock %}

{% block container -%}

    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        
        <div class="rechts">
            <a class = "logicButtons" href = "#"> Sort By </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class = "logicButtons" href = "#"> Search Bar </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class = "logicButtons" href = "#"> Flashcard Constructor </a>
        </div>
        <div class="links">
            {% if current_user.is_authenticated -%}
            <a class = "navButtons" href = "{{url_for('main.profile')}}"> My profile </a>
            {% else -%}
            <a class = "navButtons" href = "{{url_for('auth.login')}}"> Login </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class = "navButtons" href = "{{url_for('auth.register')}}"> Register </a>
            {% endif -%}
        </div>
    </div>

    <div id = "main">
        <div id = "mainText">
            <h1>
                Your Profile
            </h1>
            <p>Name: {{current_user.name}}</p>
            <p>Username: {{current_user.username}}</p>
        </div>
        
        <a href="{{url_for('auth.logout')}}">
            <button class="guest" role="button">Logout</button>
        </a>
    </div>

    <div id="footer"> <!-- !TODO will be imported using python instead of writting it-->
        <a class = "footerButtons" href = "{{url_for('common.contact')}}"> Contact Us </a>
        <a class = "footerButtons" href = "{{url_for('common.help')}}"> Help </a>
        <a class = "footerButtons" href = "{{url_for('common.about')}}"> About Us </a>
    </div>
    
{% endblock -%}
