{% extends 'base.html' %}

{% block title %}Home - {% endblock %}

{% block container -%}

    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        
        <div class="rechts">
            <a class = "logicButtons" href = "#"> Flashcard Constructor </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class = "logicButtons" href = "{{url_for('main.home')}}"> Go Back </a>
        </div>
        <div class="links">
            <a class = "navButtons" href = "{{url_for('auth.logout')}}"> Logout </a>
        </div>
    </div>

    <div id = "main">
        <div id = "mainText">
            <h1>
                Your Profile
            </h1>
            <p>Name: {{current_user.name}}</p>
            <p>Username: {{current_user.username}}</p>
            <h2>Your flashcards:</h2> 
        </div>

        <div class = "flash-list">
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>
            <a class = "flash-list-unit" href = "#"><strong>Title: </strong> Cheoto Nado  &nbsp;&nbsp;&nbsp;&nbsp;<strong>Content: </strong> Content text text text text ..  &nbsp;&nbsp;&nbsp;&nbsp; <div class = "emoticons"><img src ="../../static/images/favourite.png" alt = "Favourite"> &nbsp;&nbsp;&nbsp;&nbsp;<img src ="../../static/images/bin.png" alt = "Delete"></div></a>

        </div>
    </div>

    <div id="footer"> <!-- !TODO will be imported using python instead of writting it-->
        <a class = "footerButtons" href = "{{url_for('common.contact')}}"> Contact Us </a>
        <a class = "footerButtons" href = "{{url_for('common.help')}}"> Help </a>
        <a class = "footerButtons" href = "{{url_for('common.about')}}"> About Us </a>
    </div>
    
{% endblock -%}
