<div id = "constructor"  aria-hidden="true">
    <form action = '#' method = POST id="window">

        <div id="constructor-main">
            <a href="#" id="close-addition" aria-hidden="true">×</a>

            <div class = "flashcard-part">

            </div>

            <div class = "flashcard-part">

            </div>
        </div>

        <div id="constructor-bottom">
            <button>Add image</button>
            <button>Add audio</button>
            
            <input type = "submit" id="window-add" value = "Add">
        </div>
    </form>
</div>