<div class="around-creation" aria-hidden="true">
    <form action = '{{url_for("cards.create_cardset")}}' method = POST class="window">
        <div class="window-header">
            <h2>Create new set</h2>
            <a href="#" class="close-creation" aria-hidden="true">×</a>
        </div>
        
        <div class="window-main">
            <input id="window-name" novalidate type="text" name="title" placeholder="Enter set name" required/>
        
            <br>

            <div class="dropdown">
                <div class="select">
                <span>Select Category</span>
                </div>
                <input type="hidden" name="category" value="none">
                <ul class="dropdown-menu">
                    {% for category in categories -%}
                    <li data-category-id="{{ category.id }}">{{category.title}}</li>
                    {% endfor %}
                </ul>
            </div>

            <br>

            <div id = "window-choice">
                <input type="radio" name="is_public" value = "1" id="option-1">
                <input type="radio" name="is_public" value = "0" id="option-2" checked>
                <label for="option-1" class="option option-1">
                <div class="dot"></div>
                    <span>Public</span>
                    </label>
                <label for="option-2" class="option option-2">
                <div class="dot"></div>
                    <span>Private</span>
                </label>
            </div>
        </div>

        <div class="window-bottom">
            <input type = "submit" class="create-set" value = "Create">
        </div>
    </form>
</div>
