{% from 'macro.html' import create_form %}


<div id="edit_profile_modal">
    <div id="edit-content">
        <span id="edit-close">&times;</span>
        <h1>Edit profile</h1>
        <hr style="width : 60%">
        <br>
        <form action="POST" class = "edit">
            <label for="username">Username:</label>
            <input class="invalid" id="username" name="username" value={{current_user.username}} placeholder="Please enter your username" required="" type="text" value="">
            <label for="email">Email Address:</label>
            <input class="invalid" id="email" maxlength="50" minlength="3" name="email" value={{current_user.email}} placeholder="Please enter your email address" required="" type="text" value="">
            <input id="submit" name="submit" type="submit" value="Save">
        </form>
        <button style="color:#915000">Reset profile</button>
        <button id="deleteAccount" style="color:#bd0202">Delete account</button>
    </div>
</div>