
<div id="learn_modal">
    <div id="learn-content">
        <span id="learn-close">&times;</span>
        <h1 id = "learn-title"></h1> 

        <div id = "learn-buttons">
            <div class="learn-button hide" id="correct" style="color: #008000">Correct</div>
            <div class="learn-button" id = "flip" style="color: #006080">Flip</div>
            <div class="learn-button hide" id="incorrect" style="color: #800000">Incorrect</div>
            <div class="disable" id = "restart" style="color: #a56100">Restart</div>
        </div>
        <div class="learning-flashcard"></div>
    </div>
</div>