[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
pillow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
email-validator = "*"
pydub = "*"
flask-cors = "*"

[dev-packages]
faker = "*"

[scripts]
server = "flask --debug --app app run --host localhost --port 5000"

[requires]
python_version = "3.10"
