{% extends 'base.html' %}

{% from 'macro.html' import create_form %}

{% block title -%}Contact Us - {% endblock -%}

{% block header -%}
    {{super()}}
    <a id = "return" onclick="history.back()"><img src="../static/images/return.png" alt="Return Back"> </a>
{% endblock -%}

{% block main %}
    <div id = "mainText">
        <h1>
            Contact Us
        </h1>
        <p>Thank you for visiting our website. 
            If you have any questions, comments, or feedback, we would love to hear from you. 
            You can reach us by filling out the contact form on this page. 
            Our team will make every effort to respond to your inquiry as soon as possible. 
            We value your business and appreciate the opportunity to serve you.
        </p>  
    </div> 

    {{ create_form(form, 'contact-us', get_flashed_messages(True)) }}
    
{% endblock -%}
