{% extends 'base.html' %}

{% block title -%}Contact Us - {% endblock -%}

{% block container %}
    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        <div class="links">
            <a class = "navButtons" href = "{{url_for('main.index')}}"> Return </a>
        </div>
    </div>

    <div id = "main">
        <div id = "mainText">
            <h1>
                Contact Us
            </h1>
            <p>Thank you for visiting our website. 
                If you have any questions, comments, or feedback, we would love to hear from you. 
                You can reach us by filling out the contact form on this page. 
                Our team will make every effort to respond to your inquiry as soon as possible. 
                We value your business and appreciate the opportunity to serve you.
            </p>
            
        </div>

    </div>

    <!-- TODO Check input validity, email check and add some check before message sending and other default things destined for forms-->
    <form novalidate class="contact-us " action="{{url_for('common.contact')}}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            {{ field.label() -}}
            {% if field.errors -%}
            {{ field(class='invalid', value = '', placeholder = field.errors[0]) }}
            {% else -%}
            {{ field() -}} 
            {% endif -%}
        {% endfor -%}
        {{ form.submit() }}
    </form>
{% endblock -%}
