{% extends 'base.html' %}

{% block title -%}Help Us - {% endblock -%}

{% block container %}
    <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
        <div class="links">
            <a class = "navButtons" href = "{{url_for('main.index')}}"> Main Page </a>
        </div>
    </div>

    <div id = "main">
        <div id = "mainText">
            <h1>
                Frequently Asked Questions
            </h1>

            <div id = "faq">
                <div class = "faq">
                    <details>
                    <summary>What is the flashcard memory technique?</summary>
                    <p>The flashcard memory technique is a study method that uses cards with information on one side and a prompt on the other. The user repeatedly tests themselves by trying to recall the information from memory.</p>
                    </details>
                </div>

                <div class = "faq">
                    <details>
                    <summary>Is my information on this website secure?</summary>
                    <p>Yes, we take user privacy very seriously and use industry-standard security measures to protect your data. Your information is stored securely on our servers and is only accessible by authorized personnel.</p>
                    </details>
                </div>
            
                <div class = "faq">
                    <details>
                    <summary>Can I share my flashcards with others?</summary>
                    <p>Yes, you can share your flashcards with others by sending them a link or by publishing them for others to use. You can also search for and save flashcards created by other users.</p>
                    </details>
                </div>
                
                <div class = "faq">
                    <details>
                    <summary>What if I forget my password?</summary>
                    <p>You can reset your password by clicking the "Forgot Password" link on the login page and following the prompts.</p>
                    </details>
                </div>

                <div class = "faq">
                    <details>
                    <summary>Can I edit or delete my flashcards?</summary>
                    <p>Yes, you can edit or delete your flashcards at any time. Simply log in to your account and access your flashcard deck to make changes.</p>
                    </details>
                </div>

                <div class = "faq">
                    <details>
                    <summary>What happens if I cancel my account?</summary>
                    <p>If you cancel your account, all of your data, including your flashcards, will be permanently deleted. We suggest exporting your data before canceling if you would like to keep a copy.</p>
                    </details>
                </div>

                <div class = "faq">
                    <details>
                    <summary>Can I use this website on my mobile device?</summary>
                    <p>Yes, our website is optimized for use on both desktop and mobile devices. You can access all of the same features and functionality on your mobile device as you can on your desktop computer. Moreover, our team is currently developing a mobile application of our platform.</p>
                    </details>
                </div>

                <div class = "faq">
                    <details>
                    <summary>More about the concept of flashcards..</summary>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/p3-o0pxDrL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </details>
                </div>
            </div>
        </div>
    </div>
{% endblock -%}
