#constructor:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#window {
    background-color: #000;
    border: 0.5vh solid #fff;
    border-radius: 0.5vh;
    margin-left: -35%;
    text-align: center;
    position: fixed;
    left: 40%;
    top: -100%;
    z-index: 4;
    width: 90%;
    box-shadow: 0 3vh 5vh #ffffff80;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
    height:91vh;
    overflow: scroll;
}

.transit:before {
    display: block;
}

.transit #window {
    transform: translate(0, 0);
    top: 5%;
}

#close-addition {
    color: #ff0026;
    font-size: 5vh;
    text-decoration: none;
    padding: 1%;
    position: absolute;
    right: 2%;
    top: 0;
}

#close-addition:hover {
    color: #333;
}

#constuctor-main {
    display: flex;
}

#constructor-bottom {
    margin: 1% 1% 0 1%;
    padding: 1%;
}

#save-div {
    cursor: pointer;
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: 3%;
    aspect-ratio: 1;
}

#save-div img {
    width: 100%;
}

#cardset-buttons {
    width: 60%;
    position: absolute;
    bottom: 3%;
    left: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

.cardset-button, .button {
    padding: 1vh 2vh;
    box-shadow: #ffffff26 0 0.8vh 1.5vh;
    margin-right: 3vh;
    font-size: 3vh;
}

.cardset-button:hover, .button:hover {
    box-shadow: 0 0.1vh 0 rgb(255, 255, 255);
    transform: translateY(+0.4vh);
}

.cardset-button:active, .button:active {
    box-shadow: none;
    color:#008000;
}

.button[type="submit"] {
    color:#008000;
}

#flashcards {
    height: 75%;
    overflow: scroll;
    margin: 0 3%;
    scroll-snap-type: y mandatory;
}

.flashcard {
    border: #fff 0.1vh solid;
    margin: 1%;
    margin-top: 0;
    float: left;
    border-radius: 1.5vh;
    scroll-snap-align: start;
    padding:1.5vh;
    height: 25vh;
    width: 38vh;
}

.flash-screen {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flashcard:hover .flash-screen {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flash-card-front,
.flash-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: auto;
    height: 25vh;
    width: 38vh;
    font-size: 2.5vh;
}

/* Style the back side */
.flash-card-back {
    transform: rotateY(180deg);
}

.flash-card-image-single {
    max-width: 100%;
    height: 16vh;
}

.flash-card-image-multiple {
    max-width: 100%;
    height: 8vh;
    display:inline-block;
    margin:1%;
    position: relative;
}

.button {
    background: none;
    color:#fff;
}

.flashcard-part, .flash-card-back, .flash-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flashcard-part {
    border: 0.1vh solid #fff;
    border-radius: 5vh;
    width: 40%;
    min-width: 30vh;
    height: 50vh;
    margin: 10% 5% 3% 5%;
    cursor: pointer;
    position: relative;
}

.textarea {
    background: none;
    font-size: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
}

.only-text {
    margin: 10% auto;
    width: 80%;
    height:60%;
}

.not-only-text {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 80%;
    height:30%;
}

.selected {
    border: 0.1vh solid #00ffa2;
}

.image-preview {
    width: 75vh;
}

.constImage {
    display:inline-block;
    margin:1%;
    position: relative;
}

.constructor-image {
    border-radius: 5vh;
    transition: 0.5s all ease-in-out;
}

.constructor-image-single {
    max-width: 100%;
    height: 30vh;
}

.constructor-image-multiple {
    max-width:30vh;
    height:20vh;
}

.remove-image {
    color: #ff0026;
    position: absolute;
    top: 1%;
    right:2%;
    background: none;
    border: none;
    font-size: 4vh;
    cursor: pointer;
}

.sound {
    position: absolute;
    bottom: 2%;
    right: 3%;
    cursor: pointer;
    width: 4vh;
}

.sound img {
    width: 100%;
}

.remove-image:hover {
    color: #323232;
}

/* ###### LEARN PAGE ####### */
/* Window radio-choice css */
#mode-choice {
    display: inline-flex;
    height: 7vh;
    width: 60vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh 1.5vh;
    margin: 5vh;
}

#mode-choice .option{
    background: #000;
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vh;
    border-radius: 0.5vh;
    cursor: pointer;
    padding: 0 1vh;
    border: 0.2vh solid #d3d3d3;
    transition: all 0.3s ease;
}

#mode-choice .option .dot{
    height: 2vh;
    width: 2vh;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

#mode-choice .option .dot::before{
  position: absolute;
  content: "";
  top: 0.4vh;
  left: 0.4vh;
  width: 1.2vh;
  height: 1.2vh;
  background: #000;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}

#title:checked:checked ~ .title,
#content:checked:checked ~ .content{
  border-color: #ffffff7b;
  background: #000;
}
#title:checked:checked ~ .title .dot,
#content:checked:checked ~ .content .dot{
  background: #fff;
}
#title:checked:checked ~ .title .dot::before,
#content:checked:checked ~ .content .dot::before{
  opacity: 1;
  transform: scale(1);
}

#window-choice .option span{
  font-size: 3vh;
  color: #808080;
}
#title:checked:checked ~ .title span,
#content:checked:checked ~ .content span {
  color: #fff;
}
/*end radio-choice*/