#constructor:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#window {
    background-color: #000;
    border: 0.5vh solid #fff;
    border-radius: 0.5vh;
    margin-left: -35%;
    text-align: center;
    position: fixed;
    left: 40%;
    top: -100%;
    z-index: 4;
    width: 90%;
    box-shadow: 0 3vh 5vh #ffffff80;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
    height:91vh;
    overflow: scroll;
}

.transit:before {
    display: block;
}

.transit #window {
    transform: translate(0, 0);
    top: 5%;
}

#close-addition {
    color: #ff0026;
    font-size: 5vh;
    text-decoration: none;
    padding: 1%;
    position: absolute;
    right: 2%;
    top: 0;
}

#close-addition:hover {
    color: #333;
}

#constructor-bottom {
    margin: 1% 1% 0 1%;
    padding: 1%;
}

.save {
    position: absolute;
    width: 3%;
    cursor: pointer;
    bottom: 4%;
    right: 2%;
}

#cardset-buttons {
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

.cardset-button, .button {
    padding: 1vh 2vh;
    box-shadow: #ffffff26 0 0.8vh 1.5vh;
    margin-right: 3vh;
    font-size: 3vh;
}

.cardset-button:hover, .button:hover {
    box-shadow: 0 0.1vh 0 rgb(255, 255, 255);
    transform: translateY(+0.4vh);
}

.cardset-button:active, .button:active {
    box-shadow: none;
    color:#008000;
}

.button[type="submit"] {
    color:#008000;
}

#flashcards {
    height: 76%;
    overflow: scroll;
    margin: 0 3%;
}

.flashcard {
    border: #fff 0.1vh solid;
    margin: 1.1%;
    float: left;
    border-radius: 1.5vh;
    scroll-snap-align: start;
}

.flash-screen {
    height: 23vh;
    width: 38vh;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    padding:1.5vh;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flashcard:hover .flash-screen {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flash-card-front,
.flash-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the front side (fallback if image is missing) */
.flash-card-front {
    height: 23vh;
    width: 37vh;
    margin: auto;
    font-size: 3.5vh;
}

/* Style the back side */
.flash-card-back {
    height: 23vh;
    width: 37vh;
    transform: rotateY(180deg);
    font-size: 3vh;
}

.button {
    background: none;
    color:#fff;
}


.flashcard-part {
    border: 0.1vh solid #fff;
    border-radius: 5vh;
    width: 75vh;
    height: 50vh;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5.5%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    float:left;
    justify-content: center;
    align-items: center;
}

.textarea {
    background: none;
    font-size: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-all;
    overflow-y: scroll;
}

.textarea:focus {
    border: 0.1vh solid #fff;
}

.inactive {
    display: none !important;
}

.only-text {
    margin: 10% auto;
    width: 80%;
    height:60%;
}

.not-only-text {
    margin: 0 auto;
    margin-bottom: 10%;
    width: 80%;
    height:30%;
}

.selected {
    border: 0.1vh solid #00ffa2;
}

.image-preview {
    width: 75vh;
}

.constructor-image {
    border-radius: 5vh;
    margin:1%;
}
.constructor-image-single {
    max-width: 55vh;
    height: 40vh;
}

.constructor-image-multiple {
    max-width:30vh;
    height:20vh;
    display:inline-block;
}