@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    height : 100%;
    background: url("../images/background.jpg") no-repeat center top / cover fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: sans-serif;
}

html,
body {
    margin: 0;
}

#container {
    margin : 1%;
    padding : 1%;
    border : solid black 0.1vh;
    background-color: rgba(0, 0, 0, 0.718);
    border-radius: 1vh;
    color: white;
    overflow: hidden;
    position: relative;
}

a {
    color:antiquewhite;
    text-decoration: none;
    
}

#header {
    overflow: hidden;
	position:relative;
    padding : 1%;
    margin : 0.5%;
    font-size: 3vh;
}

#header .rechts {
    font-size: 3vh;
    float: left;
}

#header .links {
    font-size: 3vh;
    float: right;
}

#main {
    text-align: center;
    padding : 2%;
    height: 80%;
    overflow: hidden;
}

#aside {
    float : right;
    width : 25%;
    font-size: 2.7vh;
    height: 60vh;
}

#footer {
    margin-top : 3%;
    margin-bottom: 2%;
    font-size: 3vh;
}


.footerButtons {
    float: center;
    margin: 1%;
}

#mainText {
    margin: 0 20%;
    font-family: 'Crimson Text', serif;
    font-size: 2.7vh;
}

#about {
    margin-bottom: 11.5%;
}

/* Enter as a Guest button CSS*/
.guest {
    font-family: sans-serif;
    text-align : center;
    background-color: #00000000;
    color:antiquewhite;
    border: 0.4vh solid antiquewhite;
    border-radius: 1.5vh;
    cursor: pointer;
    padding: 1% 2%;
    margin-top: 1%;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    font-size: 2.5vh;

}

.guest:hover {
    box-shadow: rgba(250, 235, 215, 0.15) 0 0.8vh 1.5vh;
    transform: translateY(-0.4vh);
}
/* END Enter as a Guest button CSS*/

/* Contact Us form CSS*/
.contact-us {
	width: 45%;
    font-family: 'Crimson Text', serif;
	padding: 2% 2.5% 0.5% 2.5%;
	border: 0.4vh solid antiquewhite;
    border-radius: 1.5vh;
    margin: 0 auto;
    color: white;
    margin-bottom: 1.5%;
    font-size: 2.5vh;
}
.contact-us input[type=submit],
.contact-us input[type=text],
.contact-us input[type=email]
{
    color: white;
}

.contact-us label {
	margin-bottom: 4%;
    width: 20%;
    display: inline-block;
}

.contact-us input[type=text],
.contact-us input[type=email] {
	background: transparent;
	border: hidden;
	border-bottom: 0.1vh dashed antiquewhite;
	width: 65%;
	outline: none;
	font-style: italic;
    margin-bottom: 4%;
    font-size: 2.5vh;
    margin-left : 6%;
}


.contact-us input[type=text]:focus,
.contact-us input[type=email]:focus {
	border-bottom: 0.1vh dashed #D9FFA9;
}

.contact-us input[type=submit] {
    background: none;
	border: none;
	padding: 1.5% 2.5% 2% 2.5%;
	border-radius: 0.8vh;
	color: antiquewhite;
    border: 0.1vh solid antiquewhite;
    cursor: pointer;
    font-size: 2.5vh;
    margin:1.3%;
}

/* END Contact Us form CSS*/

#faq {
    margin: 5%;
}

.faq summary {
    cursor: pointer;
    color:white;
    text-decoration:0.1vh underline;
    font-size: 3vh;
    margin-bottom: 3.5%;
}

/* Login-Register form CSS*/
.login {
	width: 60%;
    font-family: 'Crimson Text', serif;
	padding: 1.8% 2.5% 0.5% 2.5%;
    border-radius: 15px;
    margin: .5% auto;
    color: white;
    margin-top: 7%;
    font-size: 2.5vh;

}
.login input[type=submit],
.login input[type=password],
.login input[type=text]
{
	color: white;

}
.login label {
	margin-bottom: 4%;
    width: 30%;
    display: inline-block;
    text-align: left;
}

.login input[type=text],
.login input[type=password] {
	background: transparent;
	border: hidden;
	border-bottom: 0.1vh dashed antiquewhite;
	width: 63%;
	outline: none;
	font-style: italic;
    margin-bottom: 1.5%;
    font-size: 2.5vh;
    margin-left : 4%;
}


.login input[type=text]:focus,
.login input[type=password]:focus {
	border-bottom: 0.1vh dashed #D9FFA9;
}

.login input[type=submit] {
    background: none;
	border: none;
	padding: 1.5% 2.5% 2% 2.5%;
	border-radius: 0.8vh;
	color: antiquewhite;
    border: 0.1vh solid antiquewhite;
    cursor: pointer;
    font-size: 2.5vh;
    margin:1.3%;
}
/* END Login-Register form CSS*/

.contact-us input[type=submit]:hover,
.login input[type=submit]:hover {
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    background: rgba(250, 235, 215, 0.275);
    box-shadow: rgba(250, 235, 215, 0.15) 0 0.8vh 1.5vh;
    transform: translateY(-0.4vh);
}

.invalid::placeholder {
    color: rgba(255, 0, 0, 0.75);
    font-size : 2vh;
    font-style:normal;
}

/* Change the white to any color when choosing an input option */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 3vh rgba(0, 0, 0) inset !important;
}

/*Change text in autofill textbox when choosing an input option */
input:-webkit-autofill{
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.error-msg {
    color : rgba(255, 0, 0, 0.75);
}
.success-msg {
    color : rgba(0, 128, 0, 0.75);
}

/* CSS for flashcards in dashboard */
#dash {
    float : left;
    width : 73%;
    font-size: 2.7vh;
    overflow: scroll;
    height: 60vh;
}
*::-webkit-scrollbar-corner {
    display: none;
}

*::-webkit-scrollbar {
    width: 0.8vh;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: antiquewhite;    /* color of the scroll thumb */
    border-radius: 2vh;       /* roundness of the scroll thumb */
  }

.flashcard {
    border : antiquewhite 0.1vh solid;
    font-size : 2vh;
    margin : 1%;
    float : left;
    border-radius: 1.5vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flash-screen {
    height: 15vh;
    width: 30vh;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flash-modulate {
    overflow: hidden;
    margin : 1vh;
}

.flash-save {
    float : left;
    width : 75%;
    border : antiquewhite 0.1vh solid;
    border-radius: 1.5vh;
}

.image-maximize {
    margin: 0 4% 1% 0;
    float : right;
    width : 9%;
    aspect-ratio: 1;
    cursor: pointer;
}

  /* Do an horizontal flip when you move the mouse over the flip box container */
.flashcard:hover .flash-screen {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
 .flash-card-front, .flash-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flash-card-front {
    height: 15vh;
    width: 30vh;
    margin : auto;
  }
  
  /* Style the back side */
  .flash-card-back {
    height: 15vh;
    width: 30vh;
    transform: rotateY(180deg);
  }


/* CSS for pointer blur */
#blob {
    background-color : white;
    height : 30vh;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    translate : -50% -50%;
    border-radius: 50%;
    position:absolute;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, red, yellow);
    animation : rotate 20s infinite;
    filter : blur(35vh);
    pointer-events: none;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale : 1 1.5;
    }

    to {
        rotate : 360deg;
    }
}
