@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    height : 100%;
    background: #000 no-repeat center top / cover fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Disable copy, paste and cut on the webpage */
body{
    user-select : none;
}  

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html,
body {
    margin: 0;
}

#container {
    margin : 1%;
    border : 0.1vh solid #000;
    background-color: #000000b7;
    border-radius: 1vh;
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 92vh;
}

a  {
    color: #fff;
    text-decoration: none;
}

#header {
    overflow: hidden;
	position: relative;
    padding : 1% 0 0.5% 1%;
    height: 5vh;
}

#return {
    cursor: pointer;
    height: 10vh;
    width: 10vh;
}

#return img {
    position: absolute;
    z-index: 2;
    left: 1%;
    top: 25%;
    height: 30%;
    aspect-ratio: 1;
}

/* Search bar */
#searchBox {
    position: absolute;
    z-index: 2;
    left: 1%;
    top: 30%;
    border: 0.3vh solid #fff;
    border-radius: 5vh;
    padding: 0.5vh;
}

#searchBox:hover > #searchInput,
#searchInput:not(:placeholder-shown) {
    width: 50vh;
    padding: 0 0 0 1vh;
}

#searchBox:hover > #searchButton {
  color : #2f3640;
  cursor: pointer;
}

#searchButton {
    border: 0.1vh solid #fff;
    float: right;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#searchButton img {
   width : 2vh;
   height : 2vh;
}

#searchInput {
    border:none;
    background: none;
    outline:none;
    padding: 0;
    color: #fff;
    font-size: 2vh;
    transition: 0.4s;
    line-height: 3vh;
    width:0;
}

/* end search bar */

#main {
    text-align: center;
    padding : 2%;
    height: 83%;
    overflow: scroll;
}

#aside {
    float : right;
    width : 25%;
    font-size: 2.5vh;
}

#aside-list {
    overflow: scroll;
    height: 55vh;
    scroll-snap-type: y mandatory;
}

.category {
    padding : 2%; 
    border-bottom: 0.1vh solid #fff;
    border-top: 0.1vh solid #ffffff20;
    border-radius: 1.5vh;
    margin: 3%;
    scroll-snap-align: end;
}

#mainText {
    margin: 0 20%;
    font-size: 2.5vh;
}

#about {
    margin-bottom: 11.5%;
}

/* Enter button CSS*/
#button {
    box-shadow: 0px 0.1vh 0 rgb(255, 255, 255);
    padding:1vh;
    letter-spacing: 0.1vh;
    transition: all 0.15s linear;
    font-size: 3vh;
}
  
#button:hover {
    box-shadow: 0px 0.1vh 0 #007d04;
}

#button:focus {
    color:#007d04
}
/* END Enter as a Guest button CSS*/

/* Contact Us form CSS*/
.contact-us {
	width: 45%;
	padding: 2% 2.5% 0.5% 2.5%;
	border: 0.4vh solid #faebd7;
    border-radius: 1.5vh;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 1.5%;
    font-size: 2.5vh;
}
.contact-us input[type=submit],
.contact-us input[type=text],
.contact-us input[type=email]
{
    color: #fff;
}

.contact-us label {
	margin-bottom: 4%;
    width: 20%;
    display: inline-block;
}

.contact-us input[type=text],
.contact-us input[type=email] {
	background: transparent;
	border: hidden;
	border-bottom: 0.1vh dashed #faebd7;
	width: 65%;
	outline: none;
	font-style: italic;
    margin-bottom: 4%;
    font-size: 2.5vh;
    margin-left : 6%;
}


.contact-us input[type=text]:focus,
.contact-us input[type=email]:focus {
	border-bottom: 0.1vh dashed #d8ffa8;
}

.login input[type=submit]:focus,
.contact-us input[type=submit]:focus {
    color:#007d04
}

/* END Contact Us form CSS*/

#faq {
    margin: 5%;
}

.faq summary {
    cursor: pointer;
    color:#fff;
    text-decoration:0.1vh underline;
    font-size: 3vh;
    margin-bottom: 2.8%;
}

/* Login-Register form CSS*/
.login {
	width: 60%;
	padding: 1.8% 2.5% 0.5% 2.5%;
    border-radius: 15px;
    margin: .5% auto;
    color: #fff;
    margin-top: 7%;
    font-size: 2.5vh;

}
.login input[type=submit],
.login input[type=password],
.login input[type=text]
{
	color: #fff;

}
.login label {
	margin-bottom: 4%;
    width: 30%;
    display: inline-block;
    text-align: left;
}

.login input[type=text],
.login input[type=password] {
	background: transparent;
	border: hidden;
	border-bottom: 0.1vh dashed #faebd7;
	width: 63%;
	outline: none;
	font-style: italic;
    margin-bottom: 1.5%;
    font-size: 2.5vh;
    margin-left : 4%;
}


.login input[type=text]:focus,
.login input[type=password]:focus {
	border-bottom: 0.1vh dashed #d9ffa9;
}

.contact-us input[type=submit],
.login input[type=submit] {
    background: none;
	border: none;
    box-shadow: 0px 0.1vh 0 rgb(255, 255, 255);
    padding:1vh;
    letter-spacing: 0.1vh;
    transition: all 0.15s linear;
    font-size: 2vh;
}

/* END Login-Register form CSS*/

.contact-us input[type=submit]:hover,
.login input[type=submit]:hover {
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    box-shadow: #faebd726 0 0.8vh 1.5vh;
    transform: translateY(-0.4vh);
}

.invalid::placeholder {
    color: #ff0000bf;
    font-size : 2vh;
    font-style:normal;
}

/* Change the white to any color when choosing an input option */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 3vh #000000d9 inset !important;
}

/*Change text in autofill textbox when choosing an input option */
input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important;
}

.error-msg {
    color : #ff0000bf;
}
.success-msg {
    font-size: 2.5vh;
    margin-left: 3.3%;
}

/* CSS for flashcards in dashboard */
#dash {
    float : left;
    width : 73%;
    font-size: 2vh;
    overflow: scroll;
    height: 49vh;
    text-align: left;
    scroll-snap-type: y mandatory;
}

*::-webkit-scrollbar-corner {
    display: none;
}

*::-webkit-scrollbar {
    width: 0.8vh;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: #faebd7;    /* color of the scroll thumb */
    border-radius: 2vh;       /* roundness of the scroll thumb */
  }

/* .flashcard {
    border : #faebd7 0.1vh solid;
    font-size : 2vh;
    margin : 1%;
    float : left;
    border-radius: 1.5vh;
}

.flash-screen {
    height: 15vh;
    width: 30vh;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
} */

.set {
    border : 0.1vh solid #faebd7;
    font-size : 2.3vh;
    margin : 0 1% 1% 1%;
    float : left;
    border-radius: 1.5vh;
    scroll-snap-align: start;
    width: 22%;
    height: 30%;

}

.set-screen {
    padding: 0 5% 0 5%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 75%;
}

.set-modulate {
    overflow: hidden;
    margin : 2%;
}

.image-save {
    margin-right: 3%;
    margin-bottom: 10%;
    float : right;
    width : 8%;
    aspect-ratio: 1;
    cursor: pointer;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flashcard:hover .flash-screen {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flash-card-front, .flash-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flash-card-front {
    height: 15vh;
    width: 30vh;
    margin : auto;
}
  
/* Style the back side */
.flash-card-back {
    height: 15vh;
    width: 30vh;
    transform: rotateY(180deg);
}

.flash-list {
    overflow: scroll;
    width: 68%;
    float: right;
    height : 22vh;
    text-align: left;
    scroll-snap-type: y mandatory;
}

.flashcard-unit {
    border: 0.1vh solid #faebd7;
    border-radius: 1.5vh;
    float:left;
    margin: 0 2vh 1.5vh 1vh;
    height: 36%;
    width: 28%;
    scroll-snap-align: end;
    padding:0.7%;
}

.flashcard-unit-image {
    width: 6%;
    float: right;
}

.flashcard-unit-image img {
    width: 100%;
    float: right;
}

.flashcard-unit-text {
    width: 85%;
    float: left;
    text-align: center;
    margin: 3% 0 0 5%;
}


#flashcard-set-profile {
    font-size: 2vh;
}

#flash-profile {
    font-size: 3vh;
    float: left;
    width: 31%;
    height : 60vh;
    overflow: scroll;
}

.profile-value {
    text-align: left;
    display: flex;
    padding: 2vh;
}

.value {
    margin-left : 3vh;
}

/* CSS for pointer blur */
#blob {
    height : 30vh;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    translate : -50% -50%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #ffffff, #0044ff);
    animation: rotate 20s infinite;
    filter: blur(40vh);
    pointer-events: none;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale : 1 1.5;
    }

    to {
        rotate : 360deg;
    }
}

/* CSS for window-creation of new sets */
.create-set {
    border: 0.5vh solid #faebd7;
    color: #faebd7;
    display: inline-block;
    font-size: 3vh;
    border-radius: 3vh;
    padding: 1% 2%;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: color .1s ease;
    margin:1%;
    transition: all .5s ease-in-out;
    background: none;
}

.create-set:hover {
    background: #faebd780;
}

.window-bottom, 
.window-main {
    padding: 1vh 2vh;
}

.window-header {
    border-bottom: #eee solid 1px;
    padding: 1vh 2vh;
    font-size: 3vh;

}

.close-creation {
    color: #e60023;
    font-size: 5vh;
    text-decoration: none;
    padding:1%;
    position: absolute;
    right: 2%;
    top: 0;
}
  
.close-creation:hover {
    color: #333;
}
  
.around-creation:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.transit:before {
    display: block;
}

.transit .window {
    transform: translate(0, 0);
    top: 15%;
}

.window {
    background-color: #000000ca;
    border: 0.5vh solid #faebd7;
    border-radius: 0.5vh;
    margin-left: -35%;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 70%;
    box-shadow:0 5vh 10vh #ffffff80;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}

#window-name{
    width:30vh;
    padding:1vh;
    color: #ffffff;
    outline: none;
	font-style: italic;
    margin-bottom: 4%;
    margin-top: 10vh;
    font-size: 2.5vh;
    margin-top: 1vh;
    background: transparent;
	border: hidden;
	border-bottom: 0.1vh dashed #faebd7;
}

#window-name:focus {
	border-bottom: 0.1vh dashed #D9FFA9;
}

/*Styling Selectbox*/
.dropdown {
    width: 32vh;
    display: inline-block;
    background-color: #000;
    border-radius: 0.5vh;
    box-shadow: 0 0 0.2vh #ccc;
    transition: all .5s ease;
    position: relative;
    font-size: 3vh;
    color: #fff;
    height: 100%;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 1vh;
    text-align: center;
}

.dropdown:hover {
    box-shadow: 0 0 0.5vh #ccc;
}

.dropdown:active {
    background-color: #000;
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 0.4vh #ccc;
    border-radius: 0.2vh 0.2vh 0 0;
    background-color: #000;
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #000;
    width: 100%;
    left: 0;
    margin-top: 0.1vh;
    box-shadow: 0 0.1vh 0.2vh #ccc;
    border-radius: 0 0.1vh 0.2vh 0.2vh;
    overflow: scroll;
    display: none;
    max-height: 19vh;
    overflow-y: auto;
    z-index: 9;
    scroll-snap-type: y mandatory;
}

.dropdown .dropdown-menu li {
    padding: 1vh;
    transition: all .2s ease-in-out;
    cursor: pointer;
    scroll-snap-align: start;
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
}

.dropdown .dropdown-menu li:hover {
    background-color: #323232;
}

.dropdown .dropdown-menu li:active {
    background-color: #1f1f1f
}

/* select box css end */

/* Window radio-choice css */
#window-choice {
    display: inline-flex;
    height: 7vh;
    width: 40vh;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5vh;
    padding: 2vh 1.5vh;
    box-shadow: 0.5vh 0.5vh 3vh #ffffff33;
    margin: 5vh;
}

#window-choice .option{
    background: #000;
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1vh;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 1vh;
    border: 0.2vh solid #d3d3d3;
    transition: all 0.3s ease;
}

#window-choice .option .dot{
    height: 2vh;
    width: 2vh;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}

#window-choice .option .dot::before{
  position: absolute;
  content: "";
  top: 0.4vh;
  left: 0.4vh;
  width: 1.2vh;
  height: 1.2vh;
  background: #000;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #ffffff7b;
  background: #000;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}

#window-choice .option span{
  font-size: 3vh;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
/*end radio-choice*/

/* CSS for menu */
#menu{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background:  #000000e5;
    transition: all 0.5s ease-in-out;
    transform: translateZ(0);
}

#active:checked ~ #menu{
    right: 0;
}

.menu-btn{
    position: absolute;
    z-index: 2;
    right: 1%;
    top: 1%;
    height: 10vh;
    width: 6vh;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1%);
    left: 30%;
    width: 40%;
    border-bottom: 0.4vh solid #fff;
    transition: transform .6s;
}

.menu-btn:before{
    transform: translateY(-0.8vh);
}
.menu-btn:after{
    transform: translateY(0.8vh);
}

#active:checked + .menu-btn span {
    transform: scaleX(0);
}
#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}
#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.navMenu {
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    text-align: center;

}
  
.navMenu a {
    color: #fff;
    text-decoration: none;
    font-size: 2vh;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    padding: 2vh 2vh 1vh 2vh;
    border: 0.5vh solid #00000000;
}

.navMenu a:hover {
    border-bottom: 0.3vh solid rgb(255, 255, 255);
} 

#active[type="checkbox"]{
    display: none;
}

.images {
    margin: 0 auto;
    margin-top: 7%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    position: relative;
    transition: 0.6s;
    height: 100%;
    width: 25vh;
    height: 40vh;
    margin: 3vh;
    overflow: hidden;
    cursor: pointer;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    object-fit: cover;
}

.image:hover{
    transform: scale(1.2);
}
  /* end CSS for menu */
