@import "../base.scss";
@import "../blocks/cardset.scss";

.main {
  margin-bottom: 75px;
  &__search {
    margin-top: 30px;
    margin-bottom: 5px;
  }
}
#cardsetsType {
  .dropdown__content {
    height: 90px;
  }
}
