@import "../../css/bootstrap-grid.min.css";
@import "../../css/bootstrap-reboot.min.css";

@import "../../fonts/fonts.css";
@import "../variables.scss";


@import "../blocks/ui.scss";
@import "../blocks/nav.scss";
@import "../blocks/footer.scss";

body {
  background: url(../../img/main-bg.png) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.register {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  &__field {
    // Mobile phone
    @media (max-width: 414px) {
      width: 80%;
    }
    // Tablet/ipad   
    @media (max-width: 768px) {
      width: 55%;
    }
    // Laptop
    @media (max-width: 1200px) {
      width: 40%;
    }
    @media (min-height: 800px) {
      margin-top: 80px;
      margin-bottom: 110px;
    }

    width: 25%; 
    text-align: left;
    margin: 3px auto 20px auto;

    .label{
      margin-left: 15px;
    }
  }

  .button{
    display: block;
    margin:35px auto 18px auto;
    border: none;
  }

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}