@import "../base.scss";

.flashcards {
  font-weight: 700;
  font-size: 32px;
  font-family: $font-header;

  &__heading-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__tool {
    width: 40px;
    background: $main-color;
    margin-left: 15px;
  }
  &__tool:hover {
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
  &__tool:active {
    box-shadow: none;
  }
  &__list {
    margin-top: 25px;
  }
  &__card,
  &__card-active {
    box-shadow: $box-shadow;
    background-color: #fff;
    border-radius: 20px;
    height: 160px;
    width: 100%;
    margin: 15px auto;
    transition: transform 1s;
    transform-style: preserve-3d;
    .card-front,
    .card-back {
      width: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: 160px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font-text;
      font-weight: 400;
      padding: 10px 15px;
    }
    @media screen and (max-width: 576px) {
      width: 50%;
    }
    .card-back {
      transform: rotateY(180deg);
    }
  }
  &__card:hover,
  &__card-active:hover {
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
  &__card:active,
  &__card-active:active {
    box-shadow: none;
  }
  &__card-active {
    transform: rotateY(180deg);
  }
}

.constructor {
  margin-top: 50px;
  margin-bottom: 80px;
  &__title {
    text-align: center;
    font-family: $font-header;
    font-weight: 600;
    font-size: 32px;
  }
  &__parts {
    margin: 40px 0;
  }
}

.flashcard-side {
  max-width: 565px;
  height: 293px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px auto;
  position: relative;
  box-shadow: $box-shadow;
  &__workspace {
    display: flex;
    max-width: 565px;
    height: 293px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 20px;
  }
  &__text {
    text-align: center;
  }
  &__images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    width: 100%;
  }
  &__image {
    object-fit: contain;
    width: 130px;
    max-height: 130px;
  }
  &__image_big {
    max-height: 300px;
  }
  &__tools {
    position: absolute;
    left: 20px;
    bottom: 5px;
    .tool {
      width: 30px;
      background-color: #bcbcbc;
    }
    .tool:hover {
      box-shadow: $box-shadow;
      cursor: pointer;
    }
    .tool:active {
      box-shadow: none;
    }
  }
}

.flashcard-side:hover {
  box-shadow: $box-shadow-hover;
  cursor: pointer;
}
