@import "../base.scss";

.flashcards {
  font-weight: 700;
  font-size: 32px;
  font-family: $font-header;

  &__heading-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__tool {
    width: 40px;
    background: $main-color;
    margin-left: 15px;
    &:hover {
      box-shadow: $box-shadow-hover;
      cursor: pointer;
    }
    &:active {
      box-shadow: none;
    }
  }
  &__list {
    margin-top: 25px;
  }
  &__card {
    position: relative;
    box-shadow: $box-shadow;
    background-color: #fff;
    border-radius: 20px;
    height: 160px;
    width: 100%;
    margin: 15px auto;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;

    @media screen and (max-width: 576px) {
      width: 50%;
    }
    @media screen and (max-width: 450px) {
      width: 70%;
    }
    @media screen and (max-width: 350px) {
      width: 85%;
    }
    &:hover {
      box-shadow: $box-shadow-hover;
    }
    &:active {
      box-shadow: none;
    }
    &-active {
      transform: rotateY(180deg);
    }
    &-wrapper {
      position: relative;
    }
    &-delete-btn {
      border-radius: 50%;
      background-color: white;
      box-shadow: $box-shadow;
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      color: red;
      border: none;
      width: 30px;
      height: 30px;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.card-side {
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 160px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-text;
  font-weight: 400;
  padding: 10px 15px;
  &_back {
    transform: rotateY(180deg);
    font-size: 13px;
  }
  &__images {
    margin: 0 auto;
    width: 100%;
    display: flex;
    column-gap: 3px;
    row-gap: 3px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__image {
    border-radius: 7px;
    object-fit: contain;
  }
  &__text {
    text-align: center;
  }
  &__audio {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.constructor {
  margin-top: 50px;
  margin-bottom: 80px;
  &__title {
    text-align: center;
    font-family: $font-header;
    font-weight: 600;
    font-size: 32px;
  }
  &__parts {
    margin: 40px 0;
  }
}

.flashcard-side {
  max-width: 550px;
  height: 293px;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px auto;
  position: relative;
  box-shadow: $box-shadow;
  cursor: pointer;
  &__workspace {
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 20px;
  }
  &__text {
    text-align: center;
    font-family: $font-text;
    resize: none;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 90%;
    overflow: hidden;
    &:focus {
      outline: 2px solid #a5a5a5;
    }
    &_title {
      font-size: 18px;
      height: 30%;
      &::placeholder {
        font-size: 18px;
      }
    }
    &_content {
      font-size: 16px;
      height: 41%;
      &::placeholder {
        font-size: 16px;
      }
    }
  }
  &__sound {
    position: absolute;
    bottom: 13px;
    right: 20px;
  }
  &__images {
    margin: 0 auto;
    width: 100%;
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__image {
    position: relative;
    img {
      border-radius: 10px;
      object-fit: contain;
    }
  }
  &__remove-image {
    border-radius: 50%;
    background-color: white;
    box-shadow: $box-shadow;
    position: absolute;
    top: 1px;
    right: 1px;
    color: red;
    border: none;
    font-size: 16px;
  }
  &__tools {
    position: absolute;
    left: 10px;
    bottom: 5px;
    display: flex;
    column-gap: 4px;
    .tool {
      width: 30px;
      background-color: #bcbcbc;
      cursor: pointer;
      border: none;
      img {
        width: auto;
      }
      &:hover {
        box-shadow: $box-shadow;
      }
      &:active {
        box-shadow: none;
      }
    }
    .tool[data-remove="true"] {
      img {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 575px) {
    max-width: 450px;
    height: 250px;
    &__text {
      margin-bottom: 25px;
    }
  }
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}
