.nav {
  font-family: $font-header;
  padding: 15px 0;
  a {
    color: #000;
    text-decoration: none;
  }
  &__logo {
    font-weight: 700;
    font-size: 18px;
  }
  &__links {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 260px;
    margin: 0 auto;
    font-weight: 600;
  }
  &__link {
    font-size: 16px;
  }
  &__link:hover {
    color: $main-color;
  }
  &__auth {
    text-align: right;
    font-weight: 600;
  }
  &__btn {
    background: $main-color;
    border-radius: 10px;
    padding: 8px 30px;
    margin-left: 20px;
  }
  &__btn:hover{
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
  &__btn:active {
    box-shadow: none;
  }
  &__profile {
    width: 30px;
    background: $main-gradient;
  }
  &__profile:hover {
    box-shadow: $box-shadow-hover;
    cursor: pointer;
  }
  &__profile:active {
    box-shadow: none;
  }
}
.line {
  border-bottom: 1.5px solid #000;
  margin-top: 15px;
}
