.input {
  border: 2px solid #bbc8d4;
  border-radius: 20px;
  line-height: 28px;
  font-size: 16px;
  font-family: $font-text;
  height: 40px;
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;
}

.button {
  margin: 0 auto;
  text-align: center;
  box-shadow: $box-shadow;
  width: 174px;
  background: #ffffff;
  border-radius: 20px;
  padding: 7px 35px;
  font-family: $font-header;
  font-weight: 700;
  font-size: 18px;
}

.rnd-button {
  aspect-ratio: 1;
  border-radius: 50%;
  display:inline-flex;
  justify-content: center;
  img {
    width: 50%;
  }
}

.label {
  font-weight: 300;
  font-size: 14px;
  font-family: $font-text;
  color: #8A8A8A;
}

// Color for placeholders
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbc8d4;
  opacity: 1; /* Firefox */
}
