.input {
  border: none;
  border-radius: 10px;
  box-shadow: $box-shadow;
  line-height: 28px;
  font-size: 16px;
  font-family: $font-text;
  height: 40px;
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;
  outline: none;
}

.button {
  margin: 0 auto;
  text-align: center;
  box-shadow: $box-shadow;
  width: 174px;
  background: #ffffff;
  border-radius: 10px;
  padding: 7px 35px;
  font-family: $font-header;
  font-weight: 700;
  font-size: 18px;
}

.rnd-button {
  aspect-ratio: 1;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  img {
    width: 50%;
  }
}

.label {
  font-weight: 400;
  font-size: 15px;
  font-family: $font-text;
  color: #272727;
  margin-bottom: 5px;
}

// Color for placeholders
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
  opacity: 1; /* Firefox */
  font-size: 14px;
}
