<!DOCTYPE html>
<html lang="en">
<head>
<!--Basic info--------------------------------------------------------->
<meta charset="utf-8">
<meta name="description" content="FlashCards">
<meta name="author" content="Verhovetchi Alexandru">
<meta name="author" content="Bargan Denis">
<title>FlashCards</title>
<!--Mobile--------------------------------------------------------->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS--------------------------------------------------------->
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<!--Favicon--------------------------------------------------------->
<link rel="icon" type="image/png" href="">
<!--Fonts--------------------------------------------------------->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<!-- !TODO This things up there will be imported using py libraries to avoid duplication-->

<body>
    <div id = "container">

        <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
            <div class="links">
                <a class = "navButtons" href = "login.html"> Login </a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class = "navButtons" href = "register.html"> Register </a>
            </div>
        </div>

        <div id = "main">
            <div id = "mainText">
                <h1>
                    Contact Us
                </h1>
                <p>Thank you for visiting our website. 
                    If you have any questions, comments, or feedback, we would love to hear from you. 
                    You can reach us by filling out the contact form on this page. 
                    Our team will make every effort to respond to your inquiry as soon as possible. 
                    We value your business and appreciate the opportunity to serve you.
                </p>
                
            </div>

        </div>

        <!-- TODO Check input validity, email check and add some check before message sending and other default things destined for forms-->
        <form class="form-style-4" action="" method="POST">
            <label for="field1">
            <span>Enter Your Name:</span><input type="text" name="field1" required="true" />
            </label>
            <label for="field2">
            <span>Email Address:</span><input type="email" name="field2" required="true" />
            </label>
            <label for="field3">
            <span>Short Subject:</span><input type="text" name="field3" required="true" />
            </label>
            <label for="field4">
            <span>Message to Us:</span><input type = "text" name="field4" required="true"></input>
            </label>
            <label>
            <input type="submit" value="Send to Us" />
            </label>
        </form>

        <div id="footer"> 

        </div>
  
    </div>
</body>
</html>
