<!DOCTYPE html>
<html lang="en">
<head>
<!--Basic info--------------------------------------------------------->
<meta charset="utf-8">
<meta name="description" content="FlashCards">
<meta name="author" content="Verhovetchi Alexandru">
<meta name="author" content="Bargan Denis">
<title>FlashCards</title>
<!--Mobile--------------------------------------------------------->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS--------------------------------------------------------->
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<!--Favicon--------------------------------------------------------->
<link rel="icon" type="image/png" href="">
<!--Fonts--------------------------------------------------------->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id = "container">

        <div id="header">
            <a class = "navButtons" href = "login.html"> Login </a>
            <a class = "navButtons" href = "register.html"> Register </a>
        </div>

        <div id = "main">
            <div id = "mainText">Течёт текёт вода. Бимба Бембе Пумба. Глитерh, клитор</div>
            <a class = "guest" href = "home.html">Enter as a guest</a> 
        </div>

        
        <div id="footer">
            <a class = "footerButtons" href = "contact.html"> Contact Us </a>
            <a class = "footerButtons" href = "help.html"> Help </a>
            <a class = "footerButtons" href = "about.html"> About Us </a>
        </div>
  
    </div>
</body>
</html>
