<!DOCTYPE html>
<html lang="en">
<head>
<!--Basic info--------------------------------------------------------->
<meta charset="utf-8">
<meta name="description" content="FlashCards">
<meta name="author" content="Verhovetchi Alexandru">
<meta name="author" content="Bargan Denis">
<title>FlashCards</title>
<!--Mobile--------------------------------------------------------->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--CSS--------------------------------------------------------->
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<!--Favicon--------------------------------------------------------->
<link rel="icon" type="image/png" href="">
<!--Fonts--------------------------------------------------------->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<!-- !TODO This things up there will be imported using py libraries to avoid duplication-->

<body>
    <div id = "container">

        <div id="header"> <!-- !TODO will be imported using python instead of writting it-->
            <div class="links">
                <a class = "navButtons" href = "{{url_for('index')}}"> Return </a>
            </div>
        </div>

        <div id = "main">
            <div id = "mainText" style = "margin-bottom : 4%">
                <h1>
                    Register
                </h1>
                <em>"Become a part of our community today."</em>
                <!-- TODO Check input validity, email check and add some check before message sending and other default things destined for forms-->
                <form class="login" action="" method="POST">
                    <label for="field1">
                    <span>Name:</span><input type="text" name="field1" required="true" />
                    </label>
                    <label for="field2">
                    <span>Password:</span><input type="password" name="field2" required="true" />
                    </label>
                    <label>
                    <input type="submit" name = "register" value="Register" />
                    </label>
                </form>
                <p>Do you have an account?  &nbsp;&nbsp;
                    <a class = "navButtons" href = "{{url_for('login')}}" style = "text-decoration: underline;">Login</a>
                </p>
            </div>
        </div>

        <div id="footer"> <!-- !TODO will be imported using python instead of writting it-->
            <a class = "footerButtons" href = "{{url_for('contact')}}"> Contact Us </a>
            <a class = "footerButtons" href = "{{url_for('help')}}"> Help </a>
            <a class = "footerButtons" href = "{{url_for('about')}}"> About Us </a>
        </div>
    </div>
</body>
</html>
