{% extends "base.html" %} {% block title %} Login - {% endblock %} {% block head
%}<script defer src="/static/js/js_modules_modals_js-css_bootstrap-grid_min_css-css_bootstrap-reboot_min_css-fonts_fonts_css.js"></script><script defer src="/static/js/js_modules_learn_js.js"></script><script defer src="/static/js/login.js"></script><link href="/static/css/js_modules_modals_js-css_bootstrap-grid_min_css-css_bootstrap-reboot_min_css-fonts_fonts_css.css" rel="stylesheet"><link href="/static/css/login.css" rel="stylesheet"> {%
endblock %} {% block container %}
<main class="register">
  <div class="container">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <div class="register__field">
        {{ form.username.label(class='label') -}} {% if form.username.errors %}
        {{ form.username(class='input input_error', autocomplete='off') -}}
        <div class="input__error-msg">{{ form.username.errors[0] }}</div>
        {% else %} {{ form.username(class='input', autocomplete='off') -}} {%
        endif %}
      </div>
      <div class="register__field">
        {{ form.password.label(class='label') -}} {% if form.password.errors %}
        {{ form.password(class='input input_error', autocomplete='off') -}}
        <div class="input__error-msg">{{ form.password.errors[0] }}</div>
        {% else %} {{ form.password(class='input', autocomplete='off') -}} {%
        endif %}
        <span class="register__forget-pass">Forgot your password?</span>
      </div>
      {{ form.submit(class='button') }}
    </form>
    <p>
      Do not have an account?
      <a href="{{ url_for('users.register') }}">Register</a>
    </p>
  </div>
</main>
{% endblock %}
