{% extends "base.html" %} {% block title %} Set - {% endblock %} {% block head
%}<script defer src="/static/js/set.js"></script><link href="/static/css/set.css" rel="stylesheet"> {%
endblock %} {% block container %}
<main class="main">
  <div class="container">
    <section class="flashcards">
      <div class="row">
        <div class="flashcards__heading-tools">
          {{ cardset.title }} {% if cardset.user_id == current_user.id %}
          <div>
            <div class="flashcards__tool rnd-button">
              <img src="/static/img/icons/edit-ico.svg" alt="Edit" />
            </div>
            <div class="flashcards__tool rnd-button">
              <img src="/static/img/icons/delete-ico.svg" alt="Delete" />
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="flashcards__list">
        <div class="row">
          <div style="display: flex; justify-content: center; margin-top: 30px">
            <div class="loading-spinner"></div>
          </div>
        </div>
      </div>
    </section>
    {% if cardset.user_id == current_user.id %}
    <section class="constructor">
      <div class="constructor__title">Add New Flashcard</div>
      <div class="constructor__parts">
        <div class="row"></div>
      </div>
      <button class="button" id="createFlashcard">Create</button>
    </section>
    {% endif %}
  </div>
</main>
{% endblock %}
