{% extends "base.html" %} {% block title %} Set - {% endblock %} {% block head
%}<script defer src="/static/js/set.js"></script><link href="/static/css/set.css" rel="stylesheet"> {%
endblock %} {% block container %}

<main class="main">
  <div class="container">
    <section class="flashcards">
      <div class="row">
        <div class="flashcards__heading-tools">
          {{ cardset.title }}
          <div>
            <div class="flashcards__tool rnd-button">
              <img src="/static/img/icons/edit-ico.svg" alt="Edit" />
            </div>
            <div class="flashcards__tool rnd-button">
              <img src="/static/img/icons/delete-ico.svg" alt="Delete" />
            </div>
          </div>
        </div>
      </div>
      <div class="flashcards__list">
        <div class="row">
          <div style="display: flex; justify-content: center; margin-top: 30px">
            <div class="loading-spinner"></div>
          </div>
          <!-- <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="flashcards__card">
              <div class="card-side card-side_front">
                Some title of a flash-card
              </div>
              <div class="card-side card-side_back">
                Some content of the same flash-card with styles and etc.
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="flashcards__card"></div>
          </div> -->
        </div>
      </div>
    </section>
    {% if cardset.user_id == current_user.id %}
    <section class="constructor">
      <div class="constructor__title">Add New Flashcard</div>
      <div class="constructor__parts">
        <div class="row"></div>
      </div>
      <button class="button" id="createFlashcard">Create</button>
    </section>
    {% endif %}
  </div>
</main>

{% endblock %}
