<!DOCTYPE html>
<html lang="en">
<head>
   <!--Basic info--------------------------------------------------------->
    <meta charset="utf-8">
    <meta name="description" content="FlashCards">
    <meta name="author" content="Verhovetchi Alexandru">
    <meta name="author" content="Bargan Denis">
    <title>{% block title %}{% endblock %}FlashCards</title>
    <!--Mobile--------------------------------------------------------->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS--------------------------------------------------------->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
    <!--Favicon--------------------------------------------------------->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
</head>

<body>
    <div id = "container">
        <div id = "blob"></div>

        {% block container %} 
            
    
            <div id="header"> 
            {% block header %}
                {% include "snippets/menu.html" %}  
                {% include "snippets/create_cardset.html" %}
            {% endblock %}
            </div>

            <div id = "main">
            {% block main %} 
            {% endblock %}
            </div>

        {% endblock %}
    </div>
</body>
</html>
<!--JQuery--------------------------------------------------------->
<script src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
<!--JS--------------------------------------------------------->
<script src = "{{ url_for('static', filename='scripts/script.js') }}"></script>