<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %} 
        {% include "snippets/header.html" %}
    {% endblock %}
</head>

<body>
    <div id = "container">
        <div id = "blob"></div>

        {% block container %} 
            
            {% include "snippets/create_cardset.html" %}
    
            <div id="header"> 
            {% block header %}
                {% include "snippets/menu.html" %}  
            {% endblock %}
            </div>

            <div id = "main">
            {% block main %} 
            {% endblock %}
            </div>

        {% endblock %}
    </div>
</body>
</html>

<!--JQuery--------------------------------------------------------->
<script src="{{url_for('static', filename='scripts/jquery.js')}}"></script>
<!--JS--------------------------------------------------------->
<script src = "{{ url_for('static', filename='scripts/script.js') }}"></script>