<div class="profile-modal none">
  <div class="profile-modal__element">
    <a href="{{url_for('main.cardsets')}}">
      <img src="static/img/icons/cardsets-ico.svg" alt="" />
      <span>Card Sets</span>
    </a>
  </div>
  <div class="profile-modal__element" data-modal-class="create-cardset">
    <img src="static/img/icons/create-ico.svg" alt="" />
    <span>Create</span>
  </div>
  <div class="profile-modal__line"></div>
  <div class="profile-modal__element" data-modal-class="account-settings">
    <img src="static/img/icons/settings-ico.svg" alt="" />
    <span>Settings</span>
  </div>
  <div class="profile-modal__element">
    <a href="{{url_for('users.logout')}}">
      <img src="static/img/icons/exit-ico.svg" alt="" />
      <span>Log out</span>
    </a>
  </div>
</div>
