<div class="overlay none">
  <div class="modal unauthorized-modal">
    <div class="modal__close unauthorized-modal__close">
      <img src="static/img/icons/close-ico.svg" alt="Close" />
    </div>
    <div class="modal__line unauthorized-modal__line"></div>
    <div class="unauthorized-modal__title">
      This action is only allowed for authorized users, please
    </div>
    <div class="unauthorized-modal__btns">
      <button class="button" type="button">Register</button>or
      <button class="button" type="button">Login</button>
    </div>
  </div>
</div>
